/* Css padrao */
body {
    padding: auto;
    margin: 5px;
    background-color: rgb(37, 50, 85);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color: antiquewhite;


}

h2 {
    font-size: medium;
    font-weight: bold;

}

h3 {
    font-size: small;
}

.container {
    flex-direction: column;
    padding: 0.5em;
    border: solid 1px black;
    width: 100%;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: inherit;
}

/* Lista */
ul {
    list-style: none;
}

li {
    display: inline-block;
}

/* Header */
.cabecalho {
    padding: 1em;
    display: flex;
    width: auto;
    border: solid 1px black;
    border-radius: 0.5em;
    background-color: #001F3F;
}

.img-header {
    max-width: 30%;
    flex: 1;
    text-align: center;
    padding-top: 2em;
}

.nav-bar {
    text-align: center;
    max-width: 70%;
    flex: 1;
}

.img-header ul li,
.nav-bar ul li {
    padding: 1em;
}

.nav-bar ul {
    padding: 0;
}

/* Div seçôes */
.div-sec {
    margin: 0.2em;
    padding: 0.2em;
    border-radius: 0.5em;
    border: solid 1px black;
    text-align: center;
    background-color: #001F3F;
}

/* section */
.ofertas-div,
.catalogo-div,
.sobre-div {
    padding: 1em;
    width: auto;
}


/* slides */

.slider {
    overflow: hidden;
    width: 100%;
}

.slide {
    position: relative;
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.slider .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

/* CAtalogo */
.cat-item {
    overflow: hidden;
    padding: 0.8em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box
}

.dados-itens {
    position: relative;
    margin: 1px;
    padding: 0.5em;
    background-color: blanchedalmond;
    border: solid 1px black;
    border-radius: 0.5em;
    text-align: center;
    flex: 1;




}

.dados-itens img {
    width: 100%;
    height: auto;



}

.info-item {
    padding: 0em;
}

.cat-item .leg-item {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    margin-bottom: 3em;
}

/* button */
.btn-addcart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background-color: #247050;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 0 0.5em 0.5em;
}

.sobre-div {
    display: flex;
    flex-wrap: wrap;
}

.coluna-imagem,
.coluna-texto {
    flex: 1;
    width: 50%;
}

.coluna-imagem img {
    padding: 0.2em;
    flex: 1;
    width: 90%;
    padding-top: 2em;
}

.coluna-texto {

    padding: 0.2em;
}

@media (min-width: 1024px) {


    .dados-itens {
        flex: 1;
        flex-basis: calc(25% - 20px);
        max-width: 20%;

    }

    .cat-item {
        background-color: #3A5FCD;
        justify-content: space-around;
    }
}



@media (max-width: 1023px) {


    .dados-itens {
        flex: 1;
        flex-basis: calc(50% - 2px);
        max-width: 40%;
        background-color: bisque;


    }

    .cat-item {
        display: flex;
        background-color: #3A5FCD;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}

@media (max-width: 640px) {


    .dados-itens,
    .coluna-imagem,
    .coluna-texto {
        flex: 1;
        flex-basis: calc(100% - 20px);
        max-width: 100%;


    }

    .dados-itens {
        background-color: #3A5FCD;
    }

    .cat-item {
        background-color: bisque;
    }

    .coluna-imagem,
    .coluna-texto {
        text-align: center;

    }
}